{
    "db": {
        "host": "127.0.0.1",
        "database": "weewx",
        "user": "w",
        "password": "w",
        "table": "archive",
        "columns": {
            "datetime": "datetime",
            "windspeed": "windspeed",
            "winddir": "winddir",
            "windgust": "windgust",
            "windgustdir": "windgustdir",
            "rainrate": "rainrate",
            "rain": "rain",
            "dewpoint": "dewpoint",
            "windchill": "windchill",
            "heatindex": "heatindex",
            "outtemp": "outtemp",
            "intemp": "intemp",
            "inhumidity": "inhumidity",
            "outhumidity": "outhumidity",
            "barometer": "barometer"
            }
    },
    "station": {
        "name": "Name",
        "url": "https://maps.google.com/maps?q=0%2C0&z=15"
    },
    "webcam": {
        "width": "1080",
        "height": "720",
        "url": "http://yr.no/snap.jpg"

    },
    "firstyear": 2013
}
