@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic);

body {
    color: #222;
    font: 15px/22px 'Open Sans',Arial,Helvetica,sans-serif;
    background-color: #fdfdfd;
}
.sparkline {
    height: 42px;
    width: 50px;
    display: block;
    padding-top: 2px;
    float: left;
}
.sparkline path {
    stroke: red;
    stroke-width: 1;
    fill: none;
}
#windsparkline path  {
    stroke: darkred;
}
#pressuresparkline path  {
    stroke: darkgreen;
}
#current_weather .navbar .nav h5 {
    float: left;
}
#current_weather .navbar .left > li {
    padding-left: 9px;
    padding-right: 9px;
    border-right: 1px solid white;
    border-left: 1px solid #f2f2f2;
}
#current_weather .navbar .nav > li > span {
    float: none;
    padding: 10px 15px 10px;
    margin: 10px 0;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.green {
    color: green;
}
.high {
    color: darkred;
}
.avg {
    color: red;
}
.min, .hum {
    color: steelblue;
}
.rain {
    color: steelblue;
}
.pressure {
    color: darkgreen;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

svg {
    font-size: 13px;
}
svg text {
    color: #ccc;
}
svg text.score {
    fill: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: #d4d4d4;
    shape-rendering: crispEdges;
}

.x.axis path {
    stroke: #d4d4d4;
}


.bar {
    fill: steelblue;
    stroke: white;
}
.bar:hover {
    fill: #002147;
}

.overlay {
    fill: none;
    pointer-events: all;
}
svg:not(:hover) .focus {
  display: none;
}

.focus line {
  stroke: red;
  shape-rendering: crispEdges;
}

.focus circle {
  fill: #fff;
  fill-opacity: .5;
  stroke: red;
  stroke-width: 1.5px;
}

#tt {
    z-index: 1;
    position: absolute;
    background-color: rgba(255,255,255,1);
    padding: 10px;
    border: 1px solid #ddd;
    transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;

    transition-delay: 500ms
    -moz-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;

    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,.5);
    box-shadow: 4px 4px 10px rgba(0,0,0,.5);

    -moz-border-radius: 10px;
    border-radius: 10px;



}
#tt .value {
    font-weight: strong;
}

/**********
*  Legend
*/

.legend .series {
  cursor: pointer;
}

.legend circle {
  stroke-width: 2px;
}

.legend .disabled circle {
  fill-opacity: 0;
}
/**********
*  Line chart
*/

.point-paths path {
  /*
  fill: #eee;
  stroke: #aaa;
  */
  stroke-opacity: 0;
  fill-opacity: 0;
}


.line path {
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;

  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;

  transition-delay: 250ms
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.line.hover path {
  stroke-width: 6px;
  stroke: #002147;
}

.line .point {
  transition: stroke-width 250ms linear;
  -moz-transition: stroke-width 250ms linear;
  -webkit-transition: stroke-width 250ms linear;
}

.line .point.hover {
  stroke-width: 20px;
  stroke-opacity: .5;
}

.line {
    fill: none;
    stroke-width: 3px;
}

